<div class="card text-center">
<div class="card-body">
<h5 class="card-title">Agradecemos pela escolha</h5>
<p class="card-text">Site desenvolvido por Mário da Silva de
Jesus</p>
</div>
<div class="card-footer text-muted"> ©2023 Copyright: Mário de Jesus
</div>
</div>